labberapp--vwanlab.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "homeip": {
          "defaultValue": "your home ip address for the nsg",
          "type": "string"
                   },
        "RG-name": {
            "defaultValue": "Resource group name the lab should use, this will be created and deleted everyday.",
            "type": "string"
        },
        "VM-username": {
            "defaultValue": "azureadmin",
            "type": "string"
        },
        "VM-password": {
            "defaultValue": "@@zurePassword",
            "type": "securestring",
            "metadata": {
                "description": "default pw is @zurePassword"
              }
        }
    },
    "variables": {},
    "resources": [
        
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "arm",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "arm-connector",
                "statuses": [
                    {
                        "status": "Ready"
                    }
                ],
                "parameterValueSet": {
                   
                    },
                "customParameterValues": {},
                "alternativeParameterValues": {},
                "parameterValueType": "Alternative",
                "createdTime": "2024-06-25T12:36:28.6476911Z",
                "changedTime": "2024-06-25T12:36:28.6476911Z",
                "api": {
                    "name": "arm",
                    "displayName": "Azure Resource Manager",
                    "description": "Azure Resource Manager exposes the APIs to manage all of your Azure resources.",
                    "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1685/1.0.1685.3700/arm/icon.png",
                    "brandColor": "#003056",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "labber1",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "weekDays": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday"
                        ]
                    },
                    "startTime": "2023-11-15T11:00:00Z"
                },
                "recurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "weekDays": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday"
                        ]
                    },
                    "startTime": "2023-11-15T11:00:00Z"
                },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_or_update_a_template_deployment": {
                            "runAfter": {
                                "Create_or_update_a_resource_group": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "body": {
                                    "properties": {
                                        "template": {
                                            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                                            "contentVersion": "1.0.0.0",
                                            "metadata": {
                                                "_generator": {
                                                    "name": "bicep",
                                                    "version": "0.28.1.47646",
                                                    "templateHash": "3498458990999676982"
                                                }
                                            },
                                            "parameters": {
                                                "utcValue": {
                                                    "type": "string",
                                                    "defaultValue": "[[utcNow()]"
                                                }
                                            },
                                            "resources": [
                                                {
                                                    "type": "Microsoft.Network/networkSecurityGroups",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke-vnet-default-nsg",
                                                    "location": "[resourceGroup().location]",
                                                    "properties": {
                                                        "securityRules": [
                                                            {
                                                                "name": "AllowMyIpAddressCustom338922Inbound",
                                                                "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                                                                "properties": {
                                                                    "protocol": "*",
                                                                    "sourcePortRange": "*",
                                                                    "sourceAddressPrefix": "[parameters('homeip')]",
                                                                    "destinationAddressPrefix": "*",
                                                                    "access": "Allow",
                                                                    "priority": 2711,
                                                                    "direction": "Inbound",
                                                                    "sourcePortRanges": [],
                                                                    "destinationPortRanges": [
                                                                        "3389",
                                                                        "22"
                                                                    ],
                                                                    "sourceAddressPrefixes": [],
                                                                    "destinationAddressPrefixes": []
                                                                }
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "type": "Microsoft.Network/publicIPAddresses",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke1vm-pip",
                                                    "location": "[resourceGroup().location]",
                                                    "sku": {
                                                        "name": "Basic",
                                                        "tier": "Regional"
                                                    },
                                                    "properties": {
                                                        "publicIPAddressVersion": "IPv4",
                                                        "publicIPAllocationMethod": "Dynamic",
                                                        "idleTimeoutInMinutes": 4,
                                                        "ipTags": [],
                                                        "ddosSettings": {
                                                            "protectionMode": "VirtualNetworkInherited"
                                                        }
                                                    }
                                                },
                                                {
                                                    "type": "Microsoft.Network/publicIPAddresses",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke2vm-pip",
                                                    "location": "[resourceGroup().location]",
                                                    "sku": {
                                                        "name": "Basic",
                                                        "tier": "Regional"
                                                    },
                                                    "properties": {
                                                        "publicIPAddressVersion": "IPv4",
                                                        "publicIPAllocationMethod": "Dynamic",
                                                        "idleTimeoutInMinutes": 4,
                                                        "ipTags": [],
                                                        "ddosSettings": {
                                                            "protectionMode": "VirtualNetworkInherited"
                                                        }
                                                    }
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualWans",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "vwan1",
                                                    "location": "[resourceGroup().location]",
                                                    "properties": {
                                                        "disableVpnEncryption": false,
                                                        "allowBranchToBranchTraffic": true,
                                                        "type": "Standard"
                                                    }
                                                },
                                                {
                                                    "type": "Microsoft.Compute/virtualMachines",
                                                    "apiVersion": "2024-03-01",
                                                    "name": "spoke1vm",
                                                    "location": "[resourceGroup().location]",
                                                    "identity": {
                                                        "type": "SystemAssigned"
                                                    },
                                                    "properties": {
                                                        "hardwareProfile": {
                                                            "vmSize": "Standard_B2ms"
                                                        },
                                                        "storageProfile": {
                                                            "imageReference": {
                                                                "publisher": "MicrosoftWindowsServer",
                                                                "offer": "WindowsServer",
                                                                "sku": "2022-datacenter-azure-edition",
                                                                "version": "latest"
                                                            },
                                                            "osDisk": {
                                                                "osType": "Windows",
                                                                "name": "spoke1vm_OsDisk_1_ed00b4b1defe4de3aebecb89caedfefe",
                                                                "createOption": "FromImage",
                                                                "caching": "ReadWrite",
                                                                "writeAcceleratorEnabled": false,
                                                                "managedDisk": {
                                                                    "storageAccountType": "Premium_LRS"
                                                                },
                                                                "deleteOption": "Detach",
                                                                "diskSizeGB": 127
                                                            },
                                                            "dataDisks": [],
                                                            "diskControllerType": "SCSI"
                                                        },
                                                        "osProfile": {
                                                            "computerName": "spoke1vm",
                                                            "adminUsername": "[parameters('VM-username')]",
                                                            "adminPassword": "[parameters('VM-password')]",
                                                            "windowsConfiguration": {
                                                                "provisionVMAgent": true,
                                                                "enableAutomaticUpdates": true,
                                                                "patchSettings": {
                                                                    "patchMode": "AutomaticByOS",
                                                                    "assessmentMode": "ImageDefault",
                                                                    "enableHotpatching": false
                                                                },
                                                                "winRM": {
                                                                    "listeners": []
                                                                },
                                                                "enableVMAgentPlatformUpdates": false
                                                            },
                                                            "secrets": [],
                                                            "allowExtensionOperations": true
                                                        },
                                                        "networkProfile": {
                                                            "networkInterfaces": [
                                                                {
                                                                    "id": "[[resourceId('Microsoft.Network/networkInterfaces', 'spoke1vm-nic')]",
                                                                    "properties": {
                                                                        "primary": true
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "diagnosticsProfile": {
                                                            "bootDiagnostics": {
                                                                "enabled": false
                                                            }
                                                        },
                                                        "priority": "Regular",
                                                        "extensionsTimeBudget": "PT1H30M"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/networkInterfaces', 'spoke1vm-nic')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Compute/virtualMachines",
                                                    "apiVersion": "2024-03-01",
                                                    "name": "spoke2vm",
                                                    "location": "[resourceGroup().location]",
                                                    "identity": {
                                                        "type": "SystemAssigned"
                                                    },
                                                    "properties": {
                                                        "hardwareProfile": {
                                                            "vmSize": "Standard_B2ms"
                                                        },
                                                        "storageProfile": {
                                                            "imageReference": {
                                                                "publisher": "MicrosoftWindowsServer",
                                                                "offer": "WindowsServer",
                                                                "sku": "2022-datacenter-azure-edition",
                                                                "version": "latest"
                                                            },
                                                            "osDisk": {
                                                                "osType": "Windows",
                                                                "name": "spoke2vm_OsDisk_1_db0ae36c85d245a784bc62e7b0bea537",
                                                                "createOption": "FromImage",
                                                                "caching": "ReadWrite",
                                                                "writeAcceleratorEnabled": false,
                                                                "managedDisk": {
                                                                    "storageAccountType": "Premium_LRS"
                                                                },
                                                                "deleteOption": "Detach",
                                                                "diskSizeGB": 127
                                                            },
                                                            "dataDisks": [],
                                                            "diskControllerType": "SCSI"
                                                        },
                                                        "osProfile": {
                                                            "computerName": "spoke2vm",
                                                            "adminUsername": "[parameters('VM-username')]",
                                                            "adminPassword": "[parameters('VM-password')]",
                                                            "windowsConfiguration": {
                                                                "provisionVMAgent": true,
                                                                "enableAutomaticUpdates": true,
                                                                "patchSettings": {
                                                                    "patchMode": "AutomaticByOS",
                                                                    "assessmentMode": "ImageDefault",
                                                                    "enableHotpatching": false
                                                                },
                                                                "winRM": {
                                                                    "listeners": []
                                                                },
                                                                "enableVMAgentPlatformUpdates": false
                                                            },
                                                            "secrets": [],
                                                            "allowExtensionOperations": true
                                                        },
                                                        "networkProfile": {
                                                            "networkInterfaces": [
                                                                {
                                                                    "id": "[[resourceId('Microsoft.Network/networkInterfaces', 'spoke2vm-nic')]",
                                                                    "properties": {
                                                                        "primary": true
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "diagnosticsProfile": {
                                                            "bootDiagnostics": {
                                                                "enabled": false
                                                            }
                                                        },
                                                        "priority": "Regular",
                                                        "extensionsTimeBudget": "PT1H30M"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/networkInterfaces', 'spoke2vm-nic')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Compute/virtualMachines/extensions",
                                                    "apiVersion": "2024-03-01",
                                                    "name": "[[format('{0}/{1}', 'spoke1vm', 'killspoke1vmfirewall')]",
                                                    "location": "[resourceGroup().location]",
                                                    "properties": {
                                                        "autoUpgradeMinorVersion": true,
                                                        "publisher": "Microsoft.Compute",
                                                        "type": "CustomScriptExtension",
                                                        "typeHandlerVersion": "1.10",
                                                        "settings": {
                                                            "commandToExecute": "powershell -command \"Set-NetFirewallProfile -Enabled False\""
                                                        },
                                                        "protectedSettings": {}
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Compute/virtualMachines', 'spoke1vm')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Compute/virtualMachines/extensions",
                                                    "apiVersion": "2024-03-01",
                                                    "name": "[[format('{0}/{1}', 'spoke2vm', 'killspokevmfirewall')]",
                                                    "location": "[resourceGroup().location]",
                                                    "properties": {
                                                        "autoUpgradeMinorVersion": true,
                                                        "publisher": "Microsoft.Compute",
                                                        "type": "CustomScriptExtension",
                                                        "typeHandlerVersion": "1.10",
                                                        "settings": {
                                                            "commandToExecute": "powershell -command \"Set-NetFirewallProfile -Enabled False\""
                                                        },
                                                        "protectedSettings": {}
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Compute/virtualMachines', 'spoke2vm')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualHubs",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "vhub1",
                                                    "location": "[resourceGroup().location]",
                                                    "properties": {
                                                        "virtualHubRouteTableV2s": [],
                                                        "addressPrefix": "10.0.0.0/16",
                                                        "virtualRouterAutoScaleConfiguration": {
                                                            "minCapacity": 2
                                                        },
                                                        "virtualWan": {
                                                            "id": "[[resourceId('Microsoft.Network/virtualWans', 'vwan1')]"
                                                        },
                                                        "allowBranchToBranchTraffic": true,
                                                        "hubRoutingPreference": "ExpressRoute"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/virtualWans', 'vwan1')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualHubs/hubRouteTables",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "[[format('{0}/{1}', 'vhub1', 'defaultRouteTable')]",
                                                    "properties": {
                                                        "routes": [],
                                                        "labels": [
                                                            "default"
                                                        ]
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/virtualHubs', 'vhub1')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualHubs/hubRouteTables",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "[[format('{0}/{1}', 'vhub1', 'noneRouteTable')]",
                                                    "properties": {
                                                        "routes": [],
                                                        "labels": [
                                                            "none"
                                                        ]
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/virtualHubs', 'vhub1')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualNetworks",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke1-vnet",
                                                    "location": "[resourceGroup().location]",
                                                    "properties": {
                                                        "addressSpace": {
                                                            "addressPrefixes": [
                                                                "10.150.0.0/16"
                                                            ]
                                                        },
                                                        "dhcpOptions": {
                                                            "dnsServers": []
                                                        },
                                                        "subnets": [
                                                            {
                                                                "name": "GatewaySubnet",
                                                                "properties": {
                                                                    "addressPrefix": "10.150.1.0/24",
                                                                    "delegations": [],
                                                                    "privateEndpointNetworkPolicies": "Disabled",
                                                                    "privateLinkServiceNetworkPolicies": "Enabled"
                                                                },
                                                                "type": "Microsoft.Network/virtualNetworks/subnets"
                                                            },
                                                            {
                                                                "name": "default",
                                                                "properties": {
                                                                    "addressPrefix": "10.150.0.0/24",
                                                                    "networkSecurityGroup": {
                                                                        "id": "[[resourceId('Microsoft.Network/networkSecurityGroups', 'spoke-vnet-default-nsg')]"
                                                                    },
                                                                    "delegations": [],
                                                                    "privateEndpointNetworkPolicies": "Disabled",
                                                                    "privateLinkServiceNetworkPolicies": "Enabled"
                                                                },
                                                                "type": "Microsoft.Network/virtualNetworks/subnets"
                                                            }
                                                        ],
                                                        "virtualNetworkPeerings": [],
                                                        "enableDdosProtection": false
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/networkSecurityGroups', 'spoke-vnet-default-nsg')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualNetworks",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke2-vnet",
                                                    "location": "[resourceGroup().location]",
                                                    "properties": {
                                                        "addressSpace": {
                                                            "addressPrefixes": [
                                                                "10.250.0.0/16"
                                                            ]
                                                        },
                                                        "dhcpOptions": {
                                                            "dnsServers": []
                                                        },
                                                        "subnets": [
                                                            {
                                                                "name": "GatewaySubnet",
                                                                "properties": {
                                                                    "addressPrefix": "10.250.1.0/24",
                                                                    "delegations": [],
                                                                    "privateEndpointNetworkPolicies": "Disabled",
                                                                    "privateLinkServiceNetworkPolicies": "Enabled"
                                                                },
                                                                "type": "Microsoft.Network/virtualNetworks/subnets"
                                                            },
                                                            {
                                                                "name": "default",
                                                                "properties": {
                                                                    "addressPrefix": "10.250.0.0/24",
                                                                    "networkSecurityGroup": {
                                                                        "id": "[[resourceId('Microsoft.Network/networkSecurityGroups', 'spoke-vnet-default-nsg')]"
                                                                    },
                                                                    "delegations": [],
                                                                    "privateEndpointNetworkPolicies": "Disabled",
                                                                    "privateLinkServiceNetworkPolicies": "Enabled"
                                                                },
                                                                "type": "Microsoft.Network/virtualNetworks/subnets"
                                                            }
                                                        ],
                                                        "virtualNetworkPeerings": [],
                                                        "enableDdosProtection": false
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/networkSecurityGroups', 'spoke-vnet-default-nsg')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualNetworks/subnets",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke1-vnet/GatewaySubnet",
                                                    "properties": {
                                                        "addressPrefix": "10.150.1.0/24",
                                                        "delegations": [],
                                                        "privateEndpointNetworkPolicies": "Disabled",
                                                        "privateLinkServiceNetworkPolicies": "Enabled"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/virtualNetworks', 'spoke1-vnet')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualNetworks/subnets",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke2-vnet/GatewaySubnet",
                                                    "properties": {
                                                        "addressPrefix": "10.250.1.0/24",
                                                        "delegations": [],
                                                        "privateEndpointNetworkPolicies": "Disabled",
                                                        "privateLinkServiceNetworkPolicies": "Enabled"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/virtualNetworks', 'spoke2-vnet')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/networkInterfaces",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke1vm-nic",
                                                    "location": "[resourceGroup().location]",
                                                    "kind": "Regular",
                                                    "properties": {
                                                        "ipConfigurations": [
                                                            {
                                                                "name": "ipconfig1",
                                                                "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
                                                                "properties": {
                                                                    "privateIPAddress": "10.150.0.4",
                                                                    "privateIPAllocationMethod": "Dynamic",
                                                                    "publicIPAddress": {
                                                                        "id": "[[resourceId('Microsoft.Network/publicIPAddresses', 'spoke1vm-pip')]"
                                                                    },
                                                                    "subnet": {
                                                                        "id": "[[resourceId('Microsoft.Network/virtualNetworks/subnets', split('spoke1-vnet/default', '/')[0], split('spoke1-vnet/default', '/')[1])]"
                                                                    },
                                                                    "primary": true,
                                                                    "privateIPAddressVersion": "IPv4"
                                                                }
                                                            }
                                                        ],
                                                        "dnsSettings": {
                                                            "dnsServers": []
                                                        },
                                                        "enableAcceleratedNetworking": false,
                                                        "enableIPForwarding": false,
                                                        "disableTcpStateTracking": false,
                                                        "nicType": "Standard",
                                                        "auxiliaryMode": "None",
                                                        "auxiliarySku": "None"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/virtualNetworks/subnets', split('spoke1-vnet/default', '/')[0], split('spoke1-vnet/default', '/')[1])]",
                                                        "[[resourceId('Microsoft.Network/publicIPAddresses', 'spoke1vm-pip')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/networkInterfaces",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke2vm-nic",
                                                    "location": "[resourceGroup().location]",
                                                    "kind": "Regular",
                                                    "properties": {
                                                        "ipConfigurations": [
                                                            {
                                                                "name": "ipconfig1",
                                                                "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
                                                                "properties": {
                                                                    "privateIPAddress": "10.250.0.4",
                                                                    "privateIPAllocationMethod": "Dynamic",
                                                                    "publicIPAddress": {
                                                                        "id": "[[resourceId('Microsoft.Network/publicIPAddresses', 'spoke2vm-pip')]"
                                                                    },
                                                                    "subnet": {
                                                                        "id": "[[resourceId('Microsoft.Network/virtualNetworks/subnets', split('spoke2-vnet/default', '/')[0], split('spoke2-vnet/default', '/')[1])]"
                                                                    },
                                                                    "primary": true,
                                                                    "privateIPAddressVersion": "IPv4"
                                                                }
                                                            }
                                                        ],
                                                        "dnsSettings": {
                                                            "dnsServers": []
                                                        },
                                                        "enableAcceleratedNetworking": false,
                                                        "enableIPForwarding": false,
                                                        "disableTcpStateTracking": false,
                                                        "nicType": "Standard",
                                                        "auxiliaryMode": "None",
                                                        "auxiliarySku": "None"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/virtualNetworks/subnets', split('spoke2-vnet/default', '/')[0], split('spoke2-vnet/default', '/')[1])]",
                                                        "[[resourceId('Microsoft.Network/publicIPAddresses', 'spoke2vm-pip')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualNetworks/subnets",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke1-vnet/default",
                                                    "properties": {
                                                        "addressPrefix": "10.150.0.0/24",
                                                        "networkSecurityGroup": {
                                                            "id": "[[resourceId('Microsoft.Network/networkSecurityGroups', 'spoke-vnet-default-nsg')]"
                                                        },
                                                        "delegations": [],
                                                        "privateEndpointNetworkPolicies": "Disabled",
                                                        "privateLinkServiceNetworkPolicies": "Enabled"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/networkSecurityGroups', 'spoke-vnet-default-nsg')]",
                                                        "[[resourceId('Microsoft.Network/virtualNetworks', 'spoke1-vnet')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualNetworks/subnets",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "spoke2-vnet/default",
                                                    "properties": {
                                                        "addressPrefix": "10.250.0.0/24",
                                                        "networkSecurityGroup": {
                                                            "id": "[[resourceId('Microsoft.Network/networkSecurityGroups', 'spoke-vnet-default-nsg')]"
                                                        },
                                                        "delegations": [],
                                                        "privateEndpointNetworkPolicies": "Disabled",
                                                        "privateLinkServiceNetworkPolicies": "Enabled"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/networkSecurityGroups', 'spoke-vnet-default-nsg')]",
                                                        "[[resourceId('Microsoft.Network/virtualNetworks', 'spoke2-vnet')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Resources/deploymentScripts",
                                                    "apiVersion": "2020-10-01",
                                                    "name": "sleeper",
                                                    "location": "[resourceGroup().location]",
                                                    "kind": "AzurePowerShell",
                                                    "properties": {
                                                        "forceUpdateTag": "[[parameters('utcValue')]",
                                                        "azPowerShellVersion": "8.3",
                                                        "timeout": "PT1H",
                                                        "arguments": "-seconds 1200",
                                                        "scriptContent": "    param ( [string] $seconds )    \n    Write-Output Sleeping for: $seconds ....\n    Start-Sleep -Seconds $seconds   \n    Write-Output Sleep over - resuming ....\n    ",
                                                        "cleanupPreference": "OnSuccess",
                                                        "retentionInterval": "P1D"
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/virtualHubs', 'vhub1')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualHubs/hubVirtualNetworkConnections",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "[[format('{0}/{1}', 'vhub1', 'tospoke1')]",
                                                    "properties": {
                                                        "routingConfiguration": {
                                                            "associatedRouteTable": {
                                                                "id": "[[resourceId('Microsoft.Network/virtualHubs/hubRouteTables', 'vhub1', 'defaultRouteTable')]"
                                                            },
                                                            "propagatedRouteTables": {
                                                                "labels": [
                                                                    "default"
                                                                ],
                                                                "ids": [
                                                                    {
                                                                        "id": "[[resourceId('Microsoft.Network/virtualHubs/hubRouteTables', 'vhub1', 'defaultRouteTable')]"
                                                                    }
                                                                ]
                                                            },
                                                            "vnetRoutes": {
                                                                "staticRoutes": [],
                                                                "staticRoutesConfig": {
                                                                    "vnetLocalRouteOverrideCriteria": "Contains"
                                                                }
                                                            }
                                                        },
                                                        "remoteVirtualNetwork": {
                                                            "id": "[[resourceId('Microsoft.Network/virtualNetworks', 'spoke1-vnet')]"
                                                        },
                                                        "allowHubToRemoteVnetTransit": true,
                                                        "allowRemoteVnetToUseHubVnetGateways": true,
                                                        "enableInternetSecurity": true
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Resources/deploymentScripts', 'sleeper')]",
                                                        "[[resourceId('Microsoft.Network/virtualNetworks', 'spoke1-vnet')]",
                                                        "[[resourceId('Microsoft.Network/virtualHubs', 'vhub1')]",
                                                        "[[resourceId('Microsoft.Network/virtualHubs/hubRouteTables', 'vhub1', 'defaultRouteTable')]"
                                                    ]
                                                },
                                                {
                                                    "type": "Microsoft.Network/virtualHubs/hubVirtualNetworkConnections",
                                                    "apiVersion": "2023-11-01",
                                                    "name": "[[format('{0}/{1}', 'vhub1', 'tospoke2')]",
                                                    "properties": {
                                                        "routingConfiguration": {
                                                            "associatedRouteTable": {
                                                                "id": "[[resourceId('Microsoft.Network/virtualHubs/hubRouteTables', 'vhub1', 'defaultRouteTable')]"
                                                            },
                                                            "propagatedRouteTables": {
                                                                "labels": [
                                                                    "default"
                                                                ],
                                                                "ids": [
                                                                    {
                                                                        "id": "[[resourceId('Microsoft.Network/virtualHubs/hubRouteTables', 'vhub1', 'defaultRouteTable')]"
                                                                    }
                                                                ]
                                                            },
                                                            "vnetRoutes": {
                                                                "staticRoutes": [],
                                                                "staticRoutesConfig": {
                                                                    "vnetLocalRouteOverrideCriteria": "Contains"
                                                                }
                                                            }
                                                        },
                                                        "remoteVirtualNetwork": {
                                                            "id": "[[resourceId('Microsoft.Network/virtualNetworks', 'spoke2-vnet')]"
                                                        },
                                                        "allowHubToRemoteVnetTransit": true,
                                                        "allowRemoteVnetToUseHubVnetGateways": true,
                                                        "enableInternetSecurity": true
                                                    },
                                                    "dependsOn": [
                                                        "[[resourceId('Microsoft.Network/virtualNetworks', 'spoke2-vnet')]",
                                                        "[[resourceId('Microsoft.Network/virtualHubs', 'vhub1')]",
                                                        "[[resourceId('Microsoft.Network/virtualHubs/hubRouteTables', 'vhub1', 'defaultRouteTable')]",
                                                        "[[resourceId('Microsoft.Network/virtualHubs/hubVirtualNetworkConnections', 'vhub1', 'tospoke1')]"
                                                    ]
                                                }
                                            ]
                                        },
                                        "mode": "Incremental"
                                    }
                                },
                                "path": "[concat('/subscriptions/@{encodeURIComponent(''',subscription().subscriptionId,''')}/resourcegroups/@{encodeURIComponent(body(''Create_or_update_a_resource_group'')?[''name''])}/providers/Microsoft.Resources/deployments/@{encodeURIComponent(''logictest'')}')]",
                                "queries": {
                                    "x-ms-api-version": "2016-06-01",
                                    "wait": true
                                }
                            }
                        },
                        "Create_or_update_a_resource_group": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "body": {
                                    "location": "[resourceGroup().location]"
                                },
                                "path": "[concat('/subscriptions/@{encodeURIComponent(''',subscription().subscriptionId,''')}/resourcegroups/@{encodeURIComponent(''',parameters('RG-name'),''')}')]",
                                "queries": {
                                    "x-ms-api-version": "2016-06-01"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/arm')]",
                                //"connectionId": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/arm')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'arm')]",
                                "connectionName": "arm",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'arm')]"
            ]     
        },
        
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "labkiller",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "weekDays": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday"
                        ]
                    },
                    "startTime": "2023-11-15T22:00:00Z"
                },
                "recurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "weekDays": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday"
                        ]
                    },
                    "startTime": "2023-11-15T22:00:00Z"
                },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Delete_a_resource_group": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "[concat('/subscriptions/@{encodeURIComponent(''',subscription().subscriptionId,''')}/resourcegroups/@{encodeURIComponent(''',parameters('RG-name'),''')}')]",
                                "queries": {
                                    "x-ms-api-version": "2016-06-01"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/arm')]",
                                //"connectionId": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/arm-1')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'arm')]",
                                "connectionName": "arm",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'arm')]"
            ]
        }
        
    ]
}